<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana principal</title>
</head>

<body>
    <h1>Bienvenido al software de administración de tarjetas de crédito :)</h1>

    <ul>
        <li><button><a href="create-credit-card.html">Registrar nueva tarjeta de credito</a></button></li>
        <li><button><a href="simulate-purchase.html">Simular compra</a></button></li>
        <li><button><a href="view-payments.html">Pagos pendientes</a></button></li>
    </ul>


</body>

</html>