<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana principal</title>
</head>

<body>

    <h1>Bienvenido al software de administración de tarjetas de crédito :)</h1>
    <p>Que quiere hacer?</p>
    <ul>
        <li><button><a href="/view/create-credit-card">Registrar nueva tarjeta de credito</a></button></li>
        <li><button><a href="/view/simulate-purchase">Simular compra</a></button></li>
        <li><button><a href="/view/payment-plan">Registrar compra</a></button></li>
        <li><button><a href="/view/view-payments">Pagos pendientes</a></button></li>
    </ul>

</body>

</html>