<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Pagos pendientes</h1>
    <p>Por favor ingrese el rango de fecha en el que quiere consultar los pagos pendientes:</p>

    <form action="/view/calc/payments">

    <div>
        Desde: <input type="date" name="initial_date">
    </div>
    <div>
        Hasta: <input type="date" name="final_date">
    </div>
        <input type="submit" value="Consultar">

    </form>

</body>
</html>